<p>
  <nav class="pull-right">
    <% if user_signed_in? %>
        <%= link_to("Home", :root) %> |
        <%= link_to "Manage candies", :brain_candies %> |
        <%= content_tag :span, current_user.email %> |
        <%= content_tag :span, link_to("Sign out", :destroy_user_session, method: :delete) %>
    <% end %>
  </nav>
  <div class="clearfix"></div>
</p>